@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Montserrat:wght@500&family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Montserrat:wght@500&family=Poppins:wght@700&family=Source+Sans+3:wght@700&display=swap');

/* whole page */
* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Monserrat, sans-serif;
}

li, a, button {
    font-weight: 500;
    font-size: 15px;
    color: #24252a;
    text-decoration: none;
}

.regentsLogo {
    height: 50px;
    cursor: pointer;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #e9eaec;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    position: relative;
    font: 1.1em;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.nav_links li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -6px;
    background: #24252a;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.nav_links li a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

header button {
    padding: 9px 50px;
    background-color: #24252a;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: .3s ease 0s
}

header button:hover {
    background-color: white;
    color: #24252a;
}

/* options bar */
.wrapper {
    position: relative;
    width: 100%;
    display: inline-flex;
    padding-top: 100px;
    padding-bottom: 50px;
    justify-content: space-around;
    background-color: #e9eaec;
}

.optionsBar {
    display: inline-flex;
    width: 40%;
    margin: 0px 20px;
    justify-content: center;
    align-items: center;
    background: #3498db;
    height: 40px;
    border-radius: 50px;
}

.optionsBar button {
    font-family: Cabin, sans-serif;
    margin: 0px 30px;
    width: 100px;
    height: 30px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background: none;
    color: #e9eaec;
    z-index: 99;
}
  
.optionsBar .indicator {
    display: none;
    left: -15px;
    position: absolute;
    height: 30px;
    width: 130px;
    background-color: black;
    border-radius: 50px;
    transition: width 0.5s ease, transform 0.7s ease .1s;
}

/* voting page */
.vote-now1 {
    position: relative;
    width: 100%;
    display: flex;
    padding: 50px;
    justify-content: center;
    background-color: #e9eaec;
}

.input-box input:focus~label {
    top: -5px;
}

.input-box input:valid~label {
    top: -5px
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
}

.vote-now1 h2 {
    font-size: 3em;
    color: #162938;
    text-align: center;
    margin-bottom: 80px;
}

.vote-now1 .user-details, .vote-now1 .gender-details {
    width: 500px;
}

form .gender-details .category {
    display: flex;
    width: 100%;
    margin: 14px 0px;
    justify-content: space-between;
}

.gender-details .category label {
    display: flex;
    align-items: center;
}

.gender-details .category .dot {
    height: 18px;
    width: 18px;
    background-color: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
    border-color: #d9d9d9;
    background-color: #24252a;
}

form input[type="radio"]{
    display: none;
}

.vote-now2 {
    position: relative;
    width: 100%;
    display: inline-flex;
    padding-top: 100px;
    padding-bottom: 200px;
    justify-content: space-around;
    background-color: #e9eaec;
}

.candidate-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
    height: 550px;
    padding: 20px 0px;
}

.vote-choice {
    display: flex;
    margin: 0px 25px;
    justify-content: center;
    align-items: center;
}

.candidate {
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: right;
    margin: 0px 25px;
    background-size: cover;
    background-position: center;
}

.candidate-wrap .dot {
    display: none;
    height: 18px;
    width: 18px;
    background-color: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
}

#candidate1 {
    background-image: url(09e66f9d-6185-4b0b-a1e4-3327f0a5f5a2.jpg);
    filter: grayscale(100%);
    transition: .5s ease;
}#candidate1:hover {
    filter: grayscale(0%);
}

#candidate2 {
    background-image: url(dc81db5c-061c-4e2c-86c2-66ab6acddce3.jpg);
    filter: grayscale(100%);
    transition: .5s ease;
}#candidate2:hover {
    filter: grayscale(0%);
}

#candidate3 {
    background-image: url(e02e878b-560c-433b-be96-9d35a4a8d427.jpg);
    filter: grayscale(100%);
    transition: .5s ease;
}#candidate3:hover {
    filter: grayscale(0%);

}

.candidate .area{
    height: 350px;
    width: 245px;
    cursor: pointer;
}


.candidate #area1 {
    transition: .5s ease;
}.candidate #area1:hover{
    height: 500px;
    width: 350px;
}

.candidate #area2 {
    transition: .5s ease;
}.candidate #area2:hover{
    height: 500px;
    width: 350px;
}

.candidate #area3 {
    transition: .5s ease;
}.candidate #area3:hover{
    height: 500px;
    width: 350px;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    overflow: hidden;
    background-color: #e9eaec;
    width: 100%;
}

.button input {
    width: 250px;
    height: 50px;
    background-color: #3498db;
    border-radius: 20px;
    font-family: Cabin, sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    border: none;
    color: #e9eaec;
    transition: .5s ease;
}

.button input:hover {
    background: #2976a9;
}

.candidate-wrap h2 {
    font-family: Cabin, sans-serif;
    font-size: 30px;
    color: rgb(255, 38, 38);
    position: absolute;
    top: 40px;
}

